	{extends file="$THEME/layout.tpl"}
{block name=title}News{/block}
{block name=body}
{foreach from=$array_news item=news}
<table>
	<tr>
		<td class="text">
			{$news.content}
			<div class="caption"><img width="16" height="16" style="float: left;" src="{$URL_ASSETS_GLOBAL}devtool/news/{$news.type}.png"> <a href="{$URL}index.php/news/view/{$news.id}">{$news.title}</a> - Par {$news.author}</div>
		</td>
	</tr>
</table>
<br/>
{/foreach}
{/block}